@model Vetrina.Models.ProductType
@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli prodotto</h2>

<div class="container">
    <div class="row">
        <div class="col col-6">
            <div class="card p-2 d-flex" style="height: 100%; height: 600px;">
                <img class="img-fluid"
                     src=@Model.PreviewImage
                     alt="img"
                     style="max-height: 500px; object-fit:cover;" /> 
                <div>
                    <h5 class="card-title">@Model.NameProduct</h5>
                    <p class="card-text">@Model.PriceProduct €</p>
                </div>
            </div>
        </div>
    </div>
</div>
  
