@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row row-cols-5 g-2">

        <div class="col">
            <div class="card">
                <img 
                class="img-fluid" 
                src="https://m.media-amazon.com/images/I/71gUBF+4AHL._AC_SL1500_.jpg" 
                alt="img" 
                style="max-height: 300px; object-fit:cover;"
                />
                <div class="card-body">
                    <h5 class="card-title">Nome prodotto</h5>
                    <p class="card-text">Descrizione prodotto</p>
                    <a href="#" class="btn btn-warning">Dettagli</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

